<?xml version="1.0" encoding="utf-8"?>
<config version="net47">
	<packages>
		<package Name="RavenDB.Client" Version="4.0.2"/>
	</packages>
	<libs>
		<lib Name="RavenDB.Client.4.0.2\lib\netstandard2.0\Raven.Client.dll" />
		<lib Name="RavenDB.Client.4.0.2\lib\netstandard2.0\Lambda2Js.Signed.Custom.dll" />
		<lib Name="RavenDB.Client.4.0.2\lib\netstandard2.0\Sparrow.dll" />
		<lib Name="Newtonsoft.Json.10.0.3\lib\netstandard1.3\Newtonsoft.Json.dll" />
	</libs>
	<refs>
	    <ref Name="Raven.Client.dll" />
		<ref Name="Lambda2Js.Signed.Custom.dll" />
		<ref Name="Sparrow.dll" />
		<ref Name="Newtonsoft.Json.dll" />
	</refs>
</config>