<?xml version="1.0" encoding="utf-8"?>
<config version="net40">
	<packages>
		<package Name="Npgsql" Version="2.2.7"/>
	</packages>
	<libs>
		<lib Name="Npgsql.2.2.7\lib\net40\Npgsql.dll" />
		<lib Name="Npgsql.2.2.7\lib\net40\Mono.Security.dll" />
	</libs>
	<refs>
		<ref Name="Npgsql.dll" />
	</refs>
</config>