<?xml version="1.0" encoding="utf-8"?>
<config versions="net20;net35;net40;net45">
	<description>Represents a connection to Npgsql data for FastReport.Net.</description>
	<packages>
		<package Name="Npgsql" Version="2.2.7"/>
	</packages>
	<libs>
		<lib Name="Npgsql.2.2.7\lib\{framework}\Npgsql.dll" />
		<lib Name="Npgsql.2.2.7\lib\{framework}\Mono.Security.dll" />
	</libs>
	<refs>
		<ref Name="Npgsql.dll" />
	</refs>
</config>