<?xml version="1.0" encoding="utf-8"?>
<configs>
	<description>Represents a connection to Couchbase server for FastReport.Net.</description>
	<config version="net45">
		<plugins>
			<plugin Name="FastReport.Data.Json" />
		</plugins>
		<packages>
			<package Name="CouchbaseNetClient" Version="2.5.9"/>
		</packages>
		<libs>
			<lib Name="CouchbaseNetClient.2.5.9\lib\net45\Couchbase.NetClient.dll" />
		</libs>
		<refs>
			<ref Name="Couchbase.NetClient.dll" />
		</refs>
	</config>
</configs>