<?xml version="1.0" encoding="utf-8"?>
<config version="net45">
	<plugins>
		<plugin Name="FastReport.Data.Json" />
	</plugins>
	<packages>
		<package Name="CouchbaseNetClient" Version="2.5.9"/>
	</packages>
	<libs>
		<lib Name="CouchbaseNetClient.2.5.9\lib\net45\Couchbase.NetClient.dll" />
		<lib Name="Newtonsoft.Json.11.0.2\lib\net45\Newtonsoft.Json.dll" />
		<lib Name="FastReport.Data.Json.2019.3.0\lib\net45\FastReport.Data.Json.dll" />
	</libs>
	<refs>
		<ref Name="Couchbase.NetClient.dll" />
		<ref Name="Newtonsoft.Json.dll" />
		<ref Name="FastReport.Data.Json.dll" />
	</refs>
</config>