<?xml version="1.0" encoding="utf-8"?>
	<config versions="net45;netstandard2.0">
		<description>Represents a connection to Couchbase server for FastReport.Net.</description>
		<plugins>
			<plugin Name="FastReport.Data.Json" />
		</plugins>
		<packages>
			<package Name="CouchbaseNetClient" Version="2.5.9"/>
		</packages>
		<libs>
			<lib Name="CouchbaseNetClient.2.5.9\lib\{framework}\Couchbase.NetClient.dll" />
			<lib for="netstandard2.0" Name="CouchbaseNetClient.2.5.9\lib\{framework}\Couchbase.NetClient.dll" />
		</libs>
		<refs>
			<ref Name="Couchbase.NetClient.dll" />
		</refs>
	</config>