<?xml version="1.0" encoding="utf-8"?>
	<config versions="net45;netstandard1.5">
		<description>Represents a connection to MongoDB data for FastReport.Net.</description>
		<packages>
			<package Name="MongoDB.Bson" Version="2.3.0"/>
			<package Name="MongoDB.Driver" Version="2.3.0"/>
			<package Name="MongoDB.Driver.Core" Version="2.3.0"/>
			
			<package for="netstandard1.5" Name="NETStandard.Library" Version="2.0.3" />
		</packages>
		<libs>
			<lib Name="MongoDB.Bson.2.3.0\lib\{framework}\MongoDB.Bson.dll" />
			<lib Name="MongoDB.Driver.2.3.0\lib\{framework}\MongoDB.Driver.dll" />
			<lib Name="MongoDB.Driver.Core.2.3.0\lib\{framework}\MongoDB.Driver.Core.dll" />
			
			<libsFolder for="netstandard2.0" Name="NETStandard.Library.2.0.3\build\netstandard2.0\ref" />
		</libs>
		<refs>
			<ref Name="MongoDB.Bson.dll" />
			<ref Name="MongoDB.Driver.dll" />
			<ref Name="MongoDB.Driver.Core.dll" />
			
			<ref for="netstandard2.0" Name="netstandard.dll" />
		</refs>
	</config>