<?xml version="1.0" encoding="utf-8"?>
<config>
	<libs>
		<lib>@"System.Data.SQLite.Core.1.0.110.0\lib\{framevork}\System.Data.Sqlite.dll"</lib>
		<lib>@"System.Data.SQLite.Core.1.0.110.0\runtimes\{os}\native\netstandard2.0\SQLite.Interop.dll"</lib>
	</libs>
	<refs>
		<ref>@"System.Data.SQLite.Core.1.0.110.0\lib\{framevork}\System.Data.Sqlite.dll"</ref>
	</refs>
</config>