<?xml version="1.0" encoding="utf-8"?>
<config versions="net20;net40;net45;net451;net46;netstandard2.0">
	<description>Represents a connection to Sqlite data for FastReport.Net.</description>
	<packages>
		<package Name="System.Data.Sqlite" Version="1.0.110"/>
		
		<package for="netstandard2.0" Name="NETStandard.Library" Version="2.0.3" />
	</packages>
	<libs>
		<lib Name="System.Data.SQLite.Core.1.0.110.0\lib\{framework}\System.Data.Sqlite.dll" />
		<lib Name="System.Data.SQLite.Core.1.0.110.0\runtimes\{os}\native\netstandard2.0\SQLite.Interop.dll" />
		
		<libsFolder for="netstandard2.0" Name="NETStandard.Library.2.0.3\build\netstandard2.0\ref" />
	</libs>
	<refs>
		<ref Name="System.Data.Sqlite.dll" />
		
		<ref for="netstandard2.0" Name="netstandard.dll" />
	</refs>
</config>