<?xml version="1.0" encoding="utf-8"?>
<config version="net40">
	<packages>
		<package Name="Oracle.ManagedDataAccess" Version="18.6.0"/>
	</packages>
	<libs>
		<lib Name="Oracle.ManagedDataAccess.18.6.0\lib\net40\Oracle.ManagedDataAccess.dll" />
	</libs>
	<refs>
		<ref Name="Oracle.ManagedDataAccess.dll" />
	</refs>
</config>