<?xml version="1.0" encoding="utf-8"?>
<config versions="net40">
	<description>Represents a connection to Oracle data for FastReport.Net.</description>
	<packages>
		<package Name="Oracle.ManagedDataAccess" Version="18.6.0"/>
	</packages>
	<libs>
		<lib Name="Oracle.ManagedDataAccess.18.6.0\lib\{framevork}\Oracle.ManagedDataAccess.dll" />
	</libs>
	<refs>
		<ref Name="Oracle.ManagedDataAccess.dll" />
	</refs>
</config>