<?xml version="1.0" encoding="utf-8"?>
<configs>
	<description>Represents a connection to Firebird data for FastReport.Net.</description>
	<config version="net47">
		<packages>
			<package Name="FirebirdSql.Data.FirebirdClient" Version="6.6.0"/>
		</packages>
		<libs>
			<lib Name="firebirdsql.data.firebirdclient.6.6.0\lib\net452\FirebirdSql.Data.FirebirdClient.dll" />
		</libs>
		<refs>
			<ref Name="FirebirdSql.Data.FirebirdClient.dll" />
		</refs>
	</config>
</<configs>