<?xml version="1.0" encoding="utf-8"?>
	
	<config versions="net452;netstandard1.6;netstandard2.0">
		<description>Represents a connection to Firebird data for FastReport.Net.</description>
		<packages>
			<package Name="FirebirdSql.Data.FirebirdClient" Version="6.6.0"/>
		</packages>
		<libs>
			<lib Name="firebirdsql.data.firebirdclient.6.6.0\lib\{framework}\FirebirdSql.Data.FirebirdClient.dll" />
			
			<libsFolder for="netstandard2.0" Name="NETStandard.Library.2.0.3\build\netstandard2.0\ref" />
		</libs>
		<refs>
			<ref Name="FirebirdSql.Data.FirebirdClient.dll" />
			
			<ref for="netstandard2.0" Name="netstandard.dll" />
		</refs>
	</config>