<?xml version="1.0" encoding="utf-8"?>
<config versions="net20;net40;net45">
	<description>Represents a connection to MySql data for FastReport.Net.</description>
	<packages>
		<package Name="MySql.Data" Version="6.7.9"/>
	</packages>
	<libs>
		<lib Name="MySql.Data.6.7.9\lib\{framework}\MySql.Data.dll" />
	</libs>
	<refs>
		<ref Name="MySql.Data.dll" />
	</refs>
</config>